*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #FFEEEE;
}

nav{
    height: 80px;
    width: 100%;
    background: #56b3ab;
}
label.logo{
    font-size: 50px;
    font-weight: bold;
    color: rgb(226, 219, 219);
    padding: 0 100px;
    line-height: 100px;
    
    }
    
    nav ul{
    float: right;
    margin-right: 40px;
    
    }
    
    nav li{
    display: inline-block;
    line-height: 100px;
    margin-left: 25px;
    }
    
    nav a {
    color: rgb(250, 250, 250);
    font-size: 35px;
    text-transform: uppercase;
    border: 3px solid transparent;

    }
    
    

.galleri{
    margin: 10px 50px;
}

.galleri img{
    width: 500px;
    padding: 5px;
    filter: grayscale(50%);
    transition: 1s;
}

.galleri img:hover{
    filter: grayscale(0);
    transform:scale(1.1)
}



.oppslagstavle {
    position: fixed;
    left: 800px;
    top: 120px;
    height:520px;
    width:450px;
    background-color: #FFD1D1;
    border:1px solid #ccc;
    font:16px/26px Georgia, Garamond, Serif;
    overflow:auto;
    
}

.beskjed.dato {

float: left;
font-size: 15px;
color: #1d1a1a;

}

.beskjed {
    
    width: 80%;
    padding: 35px;
    margin: auto;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:20px;
    color: #1d1a1a;
    background-color: rgb(250, 237, 237);
}

#googlemaps {
    position: absolute;
    left: 110px;
    top: 380px;
    padding-bottom: 20px;
    height:250px;
    width:540px;   
}


.slide{
    position: absolute;
    left: 110px;
    top: 120px;
    height: 240px;
    width: 540px;
    overflow: hidden;
    
}
.slide .bilder{
    height: 100%;
    width: 100%;
  }
.bilder img{
    height: 100%;
    width: 100%;
  }


